<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-left>Essentia</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
        </ion-button>
      <ion-button>
          <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button>
          <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
          <ion-icon name="add"></ion-icon>
      </ion-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="bar bar-header">
      <h2 class="title">Your Safety Plan</h2>
  </div>
  <div>
    <a routerLink="safety-plan">Exit Guided Mode</a>
  </div>
  <ion-card>
      <ion-item>          
        <ion-label>Coping Strategies</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-slides class="swiper-no-swiping" (ionSlideWillChange)="doCheck()" #slides [options]="sliderConfig">
          <ion-slide *ngFor="let strategy of strategies">
            <ion-card>
              <ion-card-title>{{strategy.id}}. {{strategy.name}}</ion-card-title>
              <ion-card-content>
                <div>
                    <ion-button>{{strategy.buttonTxt}}</ion-button>
                    <ion-button *ngIf="!disableNextBtn" (click)="getNextSlide()">{{strategy.skipBtnText}}</ion-button>
                </div>
                <ion-button *ngIf="!disablePrevBtn" (click)="getPrevSlide()">Back</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <div>
            <a routerLink="reasons-to-live">Reasons to Live</a>
        </div>
      </ion-card-content>
    </ion-card> 

    
</ion-content>


